<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net46" />
  <package id="Rhino3dmIO.Desktop" version="6.8.18240.20051" targetFramework="net461" />
  <package id="Rhino3dmIO.dll-x64-Windows" version="5.1.30000.25" targetFramework="net452" />
</packages>